<header
  class="flex text-white justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <span> </span>
  <nav class="flex flex-row gap-x-10 ">
    <a href="/">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi  ">Sobre mí</a>
    <a href="mailto:josuec297@outlook.com">Contactos</a>
  </nav>
</header>
